@import "index.css";

@font-face {
  font-family: 'Bitum regular';
  src: url('../fonts/bitum-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nolde regular';
  src: url('../fonts/nolde-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nolde outline';
  src: url('../fonts/nolde-outline.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #FF7B7B;
  overflow: hidden;
}

h1 {
  z-index: -1;
  position: absolute;
  font-family: 'Nolde outline';
  font-size: 235px;
  color: white;
  line-height: 95%;
  margin-left: 30px;
}

p {
  position: absolute;
  right: 120px;
  bottom: 120px;
  cursor: pointer;
}

a svg {
  height: 100%;
  cursor: pointer;
}

p:hover {
  border: 2px;
  transform: rotate(360deg);
  transition: all 1s ease-out;
}

svg:hover {
  fill: #FF7B7B;
  transition: all 1s ease-out;
}


#btn_cat {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF7B7B;
  height: 100vh;
  margin-top: -2px;
}

#cat_on {
  position: absolute;
  height: 38vh;
  top: -98vh;
  display: none;
  z-index: 2;
}

#btn_white {
  position: absolute;
  margin: auto;
  height: 46vh;
  top: 50vh;
}

#btn_white:hover {
  filter: drop-shadow(0px 0px 40px #FFFFFF);
}

#btn_black {
  position: absolute;
  margin: auto;
  height: 46vh;
  top: 50vh;
  display: none;
}

#btn_black:hover {
  filter: drop-shadow(0px 0px 40px #000000);
}

@keyframes aniCat {
  0% {
    transform: translate(0,0vh);
    }
  100% {
    transform: translate(0,123vh);
    }
}

@keyframes opacityCat {
0% {
  transform: translate(0,123vh);
  }
100% {
  transform: translate(0,0vh);
  }
}
