@import "reset.css";

@font-face {
  font-family: 'Bitum regular';
  src: url('../fonts/bitum-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nolde regular';
  src: url('../fonts/nolde-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nolde outline';
  src: url('../fonts/nolde-outline.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

.advice {
  position: absolute;
  font-family: 'Bitum light';
  padding-top: 50px;
  padding-left: 30px;
  z-index: 5;
  font-size: 17px;
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

section {
  height: 100vh;
  width: 100vw;
  overflow: none;
}

.arrow {
  z-index: 5;
  position: absolute;
  right: 120px;
  bottom: 120px;
  color: white;
}

svg {
  height: 100%;
}

svg:hover {
  fill: #FF7B7B;
  transition: all 1s ease-out;
}

.arrow:hover {
  border: 2px;
  transform: rotate(360deg);
  transition: all 1s ease-out;
}

#cards {
  position: relative;
  background-color: black;
  z-index: 3;
  overflow-x: hidden;
}

#third__cards-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  margin-top: -5px;
}
/*
h1 {
  font-family: 'Nolde regular';
  font-size: 100px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 4;
  color: white;
  padding: 40vh 43vw;
} */

.card {
  cursor: pointer;
  height: 50vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: 1s all ease;
}

.card:hover {
  filter: grayscale(100%);
  /* filter: sepia(90%); */
  /* filter: brightness(0.4); */
  /* filter: blur(5px); */
}
