@import "reset.css";

body {
  height: 100vh;
  width: 100vw;
  background-color: #FF7B7B;
  overflow: hidden;
}

body.click {
  background-color: black;
}

section {
  margin-top: -1vh;
  height: 105vh;
  width: 110vw;
  margin-left: -2vw;
}

section svg {
  height: 30vh;
}

.cats_svg {
  cursor: pointer;
  fill: black;
  height: 20vh;
}

.cats_svg:hover {
  opacity: 80%;
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 1s ease-out;
}

.cats_svg.hover {
  fill: white;
  height: 20vh;
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

p {
  position: absolute;
  right: 120px;
  bottom: 120px;
  filter: drop-shadow(0px 0px 20px #000000);
}

svg {
  height: 100%;
}

p:hover {
  transform: translateX(10px);
  transition: all 1s ease-out;
}

@-webkit-keyframes shake {
0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}


@media screen and (min-width: 1681px)  and (max-width: 1920px) {
  .cats_svg {
    height: 20vh;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1680px) {
  .cats_svg {
    height: 20vh;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
  p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
  p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
  p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
  .cats_svg,
  .cats_svg.hover {
    height: 16vh;
  }


  p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .cats_svg,
  .cats_svg.hover {
    height: 18.5vh;
  }

  p {
    position: absolute;
    right: 30px;
    bottom: 100px;
  }

  svg {
    height: 4vh;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  .cats_svg,
  .cats_svg.hover {
    height: 13.5vh;
  }

  p {
    position: absolute;
    right: 30px;
    bottom: 100px;
  }

  svg {
    height: 4vh;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .cats_svg,
  .cats_svg.hover {
    height: 17vh;
  }

  p {
    position: absolute;
    right: 30px;
    bottom: 100px;
  }

  svg {
    height: 4vh;
  }
}
