@import "reset.css";

@font-face {
  font-family: 'Bitum regular';
  src: url('../fonts/bitum-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nolde regular';
  src: url('../fonts/nolde-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

.advice {
  position: absolute;
  font-family: 'Bitum light';
  right: 60px;
  bottom: 60px;
  z-index: 100;
  font-size: 50px;
  color: black;
}

#cats_scroll {
  overflow: hidden;
  width: 100vw;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_cat {
  height: 60vh;
}

#exhibition_name {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  align-items: center;
}

#exhibition_name h1 {
  font-family: 'Nolde regular';
  font-size: 250px;
  color: white;
  line-height: 90%;
  margin-left: 30px;
}

#exhibition_name p {
  position: absolute;
  right: 120px;
  bottom: 120px;
}

#exhibition_name svg {
  height: 100%;
}

#exhibition_name p:hover {
  transform: translateX(10px);
  transition: all 1s ease-out;
}

#exhibition_name svg:hover {
  fill: #FF7B7B;
  transition: all 1s ease-out;
}

@media screen and (min-width: 1681px)  and (max-width: 1920px) {
  .advice {
    font-size: 20px;
  }

  #main_cat {
    height: 30vh;
  }

  #exhibition_name h1 {
    font-size: 270px;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1680px) {
  .advice {
    font-size: 20px;
  }

  #main_cat {
    height: 23vh;
  }

  #exhibition_name h1 {
    font-size: 260px;
    margin-left: 60px;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
  .advice {
    font-size: 20px;
  }

  #main_cat {
    height: 30vh;
  }

  #exhibition_name h1 {
    font-size: 260px;
    margin-left: 60px;
  }

  #exhibition_name p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
  .advice {
    font-size: 20px;
  }

  #main_cat {
    height: 25vh;
  }

  #exhibition_name h1 {
    font-size: 240px;
    margin-left: 60px;
  }

  #exhibition_name p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .advice {
    font-size: 15px;
  }

  #main_cat {
    height: 30vh;
  }

  #exhibition_name h1 {
    font-size: 210px;
    margin-left: 60px;
  }

  #exhibition_name p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
  .advice {
    font-size: 15px;
  }

  #main_cat {
    height: 30vh;
  }

  #exhibition_name h1 {
    font-size: 190px;
    margin-left: 30px;
  }

  #exhibition_name p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
  .advice {
    font-size: 15px;
  }

  #main_cat {
    height: 30vh;
  }

  #exhibition_name h1 {
    font-size: 150px;
    margin-left: 30px;
  }

  #exhibition_name p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .advice {
    font-size: 15px;
  }

  #main_cat {
    height: 23vh;
  }

  #exhibition_name h1 {
    font-size: 150px;
    margin-left: 30px;
  }

  #exhibition_name p {
    position: absolute;
    right: 30px;
    bottom: 100px;
  }

  #exhibition_name svg {
    height: 4vh;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  .advice {
    font-size: 15px;
  }

  #main_cat {
    height: 23vh;
  }

  #exhibition_name h1 {
    font-size: 70px;
    margin-left: 30px;
  }

  #exhibition_name p {
    position: absolute;
    right: 30px;
    bottom: 100px;
  }

  #exhibition_name svg {
    height: 4vh;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .advice {
    font-size: 15px;
  }

  #main_cat {
    height: 23vh;
  }

  #exhibition_name h1 {
    font-size: 60px;
    margin-left: 30px;
  }

  #exhibition_name p {
    position: absolute;
    right: 30px;
    bottom: 100px;
  }

  #exhibition_name svg {
    height: 4vh;
  }
}
