@import "index.css";

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #FF7B7B;
}

section {
  height: 100vh;
  width: 100vw;
  overflow: none;
}

section svg {
  height: 50vh;
}

p {
  position: absolute;
  right: 120px;
  bottom: 120px;
  filter: drop-shadow(0px 0px 20px #000000);
}

p:hover {
  transform: translateX(10px);
  transition: all 1s ease-out;
}

svg:hover {
  transition: all 1s ease-out;
}

.white_pop_up:hover {
  opacity: 80%;
}

.black_pop_up:hover {
  opacity: 80%;
}

.black,
.white {
  cursor: pointer;
}

.black {
  fill: white;
}

.black.change {
  fill: black;
}

.white {
  fill: black;
}

.black_pop_up {
  position: absolute;
}

.white_pop_up {
  position: absolute;
}

.pop_up_1 {
  margin-top: -50vh;
  margin-left: 30vw;
}

.pop_up_2 {
  margin-top: 5vh;
  margin-left: -10vw;
}

.pop_up_3 {
  margin-top: -5vh;
  margin-left: 10vw;
}

.pop_up_4 {
  margin-top: -10vh;
  margin-left: 60vw;
}

.pop_up_5 {
  margin-top: 50vh;
  margin-left: 30vw;
}

.pop_up_6 {
  margin-top: 30vh;
  margin-left: 67vw;
}

.pop_up_7 {
  margin-top: -10vh;
  margin-left: 35vw;
}

.pop_up_8 {
  margin-top: 35vh;
  margin-left: 20vw;
}

.white.change {
  fill: white;
}

.black_pop_up.change {
  transition: all 1s ease-out;
  transform: rotate(360deg);
}

.white_pop_up.change {
  transition: all 1s ease-out;
  transform: rotate(360deg);
}

@media screen and (min-width: 1681px)  and (max-width: 1920px) {
  .black_pop_up {
    height: 50vh;
    width: 50vw;
  }

  .white_pop_up {
    height: 50vh;
    width: 50vw;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1680px) {
  .black_pop_up {
    height: 50vh;
    width: 50vw;
  }

  .white_pop_up {
    height: 50vh;
    width: 50vw;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
  .black_pop_up {
    height: 50vh;
    width: 50vw;
  }

  .white_pop_up {
    height: 50vh;
    width: 50vw;
  }

  p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
  .black_pop_up {
    height: 50vh;
    width: 50vw;
  }

  .white_pop_up {
    height: 50vh;
    width: 50vw;
  }

  p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .black_pop_up {
    height: 50vh;
    width: 50vw;
  }

  .white_pop_up {
    height: 50vh;
    width: 50vw;
  }

  p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
  .black_pop_up {
    height: 50vh;
    width: 50vw;
  }

  .white_pop_up {
    height: 50vh;
    width: 50vw;
  }
  
  p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
  .black_pop_up {
    height: 50vh;
    width: 50vw;
  }

  .white_pop_up {
    height: 50vh;
    width: 50vw;
  }

  p {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .black_pop_up {
    height: 60vh;
    width: 60vw;
  }

  .white_pop_up {
    height: 60vh;
    width: 60vw;
  }

  p {
    position: absolute;
    right: 30px;
    bottom: 100px;
  }

  svg {
    height: 4vh;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  .black_pop_up {
    height: 70vh;
    width: 70vw;
  }

  .white_pop_up {
    height: 70vh;
    width: 70vw;
  }

  p {
    position: absolute;
    right: 30px;
    bottom: 100px;
  }

  svg {
    height: 4vh;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .black_pop_up {
    height: 70vh;
    width: 70vw;
  }

  .white_pop_up {
    height: 70vh;
    width: 70vw;
  }

  p {
    position: absolute;
    right: 30px;
    bottom: 100px;
  }

  svg {
    height: 4vh;
  }
}
