@import "index.css";

@font-face {
  font-family: 'Bitum regular';
  src: url('../fonts/bitum-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nolde regular';
  src: url('../fonts/nolde-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nolde outline';
  src: url('../fonts/nolde-outline.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
}

h1 {
  z-index: -1;
  position: absolute;
  font-family: 'Nolde regular';
  font-size: 17.5vw;
  color: white;
  line-height: 31.5vh;
  margin-top: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.arrow {
  z-index: 100;
  position: absolute;
  right: 5px;
  top: 150px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 20px #000000);
}

a svg {
  cursor: pointer;
  fill: #FF7B7B;
  transform: rotate(-90deg);
}

.arrow:hover {
  transform: translateY(-10px);
  transition: all 1s ease-out;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rect:hover {
  background-color: #FF7B7B;
}

.rect:active {
  filter: drop-shadow(0px 0px 30px #FF7B7B);
}

.rect_1,
.rect_2,
.rect_3 {
  z-index: 5;
  background-color: white;
  height: 25vh;
  cursor: pointer;
}

.rect_1 {
  width: 40vw;
  margin-top: 6.5vh;
  margin-right: 10px;
}

.rect_2 {
  width: 22vw;
  margin-top: 6vh;
  margin-right: 10px;
}

.rect_3 {
  width: 19vw;
  margin-top: 6.6vh;
  margin-right: 10px;
}

.sketches {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 50vw;
}

.sketch {
  z-index: 4;
  position: absolute;
  width: 17vw;
  cursor: pointer;
}

.sketch_1:hover,
.sketch_2:hover,
.sketch_3:hover,
.sketch_4:hover,
.sketch_5:hover,
.sketch_6:hover {
  filter: drop-shadow(0px 0px 30px #FF7B7B);
}

.sketch_1 {
  width: 20vw;
  top: 2vh;
  right: 20vw;
}

.sketch_2 {
  top: 4vh;
  right: 5vw;
}

.sketch_3 {
  top: 34vh;
  right: 6vw;
}

.sketch_4 {
  top: 37vh;
  right: 1vw;
  transform: rotate(20deg);
}

.sketch_5 {
  width: 14vw;
  bottom: 6vh;
  right: 6vw;
  transform: rotate(20deg);
}

.sketch_6 {
  bottom: 6vh;
  right: -4vw;
}


#sketch_1-01 {
  position: absolute;
  width: 17vw;
  top: 20vh;
  left: 40vw;
  transform: rotate(20deg);
  opacity: 0%;
  transition: all 1s ease-out;
}

#sketch_1-02 {
  position: absolute;
  width: 14vw;
  top: 10vh;
  left: 20vw;
  transform: rotate(-50deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_1-03 {
  position: absolute;
  width: 14vw;
  top: 40vh;
  left: 25vw;
  transform: rotate(70deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_2-01 {
  position: absolute;
  width: 14vw;
  top: 80vh;
  left: 24vw;
  transform: rotate(90deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_2-02 {
  position: absolute;
  width: 14vw;
  top: 40vh;
  left: 10vw;
  transform: rotate(10deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_2-03 {
  position: absolute;
  width: 14vw;
  top: 60vh;
  left: 40vw;
  transform: rotate(70deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_3-01 {
  position: absolute;
  width: 14vw;
  top: 10vh;
  left: 5vw;
  transform: rotate(20deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_3-02 {
  position: absolute;
  width: 14vw;
  top: 70vh;
  left: 10vw;
  transform: rotate(70deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_3-03 {
  position: absolute;
  width: 14vw;
  top: 60vh;
  left: 65vw;
  transform: rotate(50deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_4-01 {
  position: absolute;
  width: 14vw;
  top: 5vh;
  left: 35vw;
  transform: rotate(30deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_4-02 {
  position: absolute;
  width: 14vw;
  top: 50vh;
  left: 2vw;
  transform: rotate(-40deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_4-03 {
  position: absolute;
  width: 14vw;
  top: 70vh;
  left: 50vw;
  transform: rotate(50deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_5-01 {
  position: absolute;
  width: 14vw;
  top: 40vh;
  left: 55vw;
  transform: rotate(30deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_5-02 {
  position: absolute;
  width: 14vw;
  top: 20vh;
  left: 2vw;
  transform: rotate(-50deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_5-03 {
  position: absolute;
  width: 14vw;
  top: 60vh;
  left: 25vw;
  transform: rotate(80deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_6-01 {
  position: absolute;
  width: 14vw;
  top: 40vh;
  left: 40vw;
  transform: rotate(30deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_6-02 {
  position: absolute;
  width: 14vw;
  top: -1vh;
  left: 15vw;
  transform: rotate(40deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_6-03 {
  position: absolute;
  width: 14vw;
  top: 70vh;
  left: 1vw;
  transform: rotate(20deg);
  opacity: 0%;
  transition: all 1s ease-out;
  cursor: pointer;
}

#sketch_1-01:hover,
#sketch_1-02:hover,
#sketch_1-03:hover,
#sketch_2-01:hover,
#sketch_2-02:hover,
#sketch_2-03:hover,
#sketch_3-01:hover,
#sketch_3-02:hover,
#sketch_3-03:hover,
#sketch_4-01:hover,
#sketch_4-02:hover,
#sketch_4-03:hover,
#sketch_5-01:hover,
#sketch_5-02:hover,
#sketch_5-03:hover,
#sketch_6-01:hover,
#sketch_6-02:hover,
#sketch_6-03:hover {
  filter: drop-shadow(0px 0px 30px #FFFFFF);
  cursor: pointer;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




@media screen and (min-width: 1681px)  and (max-width: 1920px) {

}

@media screen and (min-width: 1441px) and (max-width: 1680px) {

}

@media screen and (min-width: 1367px) and (max-width: 1440px) {

  .arrow {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
  .arrow {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .arrow {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
  .arrow {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
  .arrow {
    top: 6vh;
    position: absolute;
    right: -7vw;
  }

  h1 {
    position: relative;
    line-height: 100%;
  }

  section {
    text-align: center;
  }

  .rect_1, .rect_2, .rect_3 {
    height: 16vh;
    width: 90vw;
    margin: 1vh auto;
  }
  .sketches {
    position: absolute;
    top: 50vh;
    right: auto;
    height: 50vh;
    width: 100vw;
  }

  .sketch_1 {
    width: 25vw;
    bottom: 40vh;
    left: 5vw;
    right: auto;
    top: auto;
  }

  .sketch_2 {
    width: 25vw;
    bottom: 40vh;
    left: 30vw;
    right: auto;
    top: auto;
  }

  .sketch_3 {
    width: 25vw;
    bottom: 22vh;
    right: 5vw;
    top: auto;
  }

  .sketch_4 {
    width: 25vw;
    bottom: 22vh;
    right: 30vw;
    top: auto;
  }

  .sketch_5 {
    width: 24vw;
    bottom: 5vh;
    left: 5vw;
    right: auto;
    top: auto;
    transform: rotate(50deg);
  }

  .sketch_6 {
    width: 25vw;
    bottom: 5vh;
    left: 30vw;
    right: auto;
    top: auto;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .arrow {
    top: 6vh;
    position: absolute;
    right: -7vw;
  }

  .arrow svg {
    height: 4vh;
  }

  h1 {
    position: relative;
    line-height: 100%;
  }

  section {
    text-align: center;
  }

  .rect_1, .rect_2, .rect_3 {
    height: 16vh;
    width: 90vw;
    margin: 1vh auto;
  }
  .sketches {
    position: absolute;
    top: 50vh;
    right: auto;
    height: 50vh;
    width: 100vw;
  }

  .sketch_1 {
    width: 25vw;
    bottom: 40vh;
    left: 5vw;
    right: auto;
    top: auto;
  }

  .sketch_2 {
    width: 25vw;
    bottom: 40vh;
    left: 30vw;
    right: auto;
    top: auto;
  }

  .sketch_3 {
    width: 25vw;
    bottom: 22vh;
    right: 5vw;
    top: auto;
  }

  .sketch_4 {
    width: 25vw;
    bottom: 22vh;
    right: 30vw;
    top: auto;
  }

  .sketch_5 {
    width: 24vw;
    bottom: 5vh;
    left: 5vw;
    right: auto;
    top: auto;
    transform: rotate(50deg);
  }

  .sketch_6 {
    width: 25vw;
    bottom: 5vh;
    left: 30vw;
    right: auto;
    top: auto;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  .arrow {
    top: 6vh;
    position: absolute;
    right: -7vw;
  }

  .arrow svg {
    height: 4vh;
  }

  h1 {
    position: relative;
    line-height: 100%;
  }

  section {
    text-align: center;
  }

  .rect_1, .rect_2, .rect_3 {
    height: 16vh;
    width: 90vw;
    margin: 1vh auto;
  }
  .sketches {
    position: absolute;
    top: 50vh;
    right: auto;
    height: 50vh;
    width: 100vw;
  }

  .sketch_1 {
    width: 25vw;
    bottom: 40vh;
    left: 5vw;
    right: auto;
    top: auto;
  }

  .sketch_2 {
    width: 25vw;
    bottom: 40vh;
    left: 30vw;
    right: auto;
    top: auto;
  }

  .sketch_3 {
    width: 25vw;
    bottom: 22vh;
    right: 5vw;
    top: auto;
  }

  .sketch_4 {
    width: 25vw;
    bottom: 22vh;
    right: 30vw;
    top: auto;
  }

  .sketch_5 {
    width: 24vw;
    bottom: 5vh;
    left: 5vw;
    right: auto;
    top: auto;
    transform: rotate(50deg);
  }

  .sketch_6 {
    width: 25vw;
    bottom: 5vh;
    left: 30vw;
    right: auto;
    top: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .arrow {
    top: 6vh;
    position: absolute;
    right: -7vw;
  }

  .arrow svg {
    height: 4vh;
  }

  h1 {
    position: relative;
    line-height: 100%;
  }

  section {
    text-align: center;
  }

  .rect_1, .rect_2, .rect_3 {
    height: 16vh;
    width: 90vw;
    margin: 1vh auto;
  }
  .sketches {
    position: absolute;
    top: 50vh;
    right: auto;
    height: 50vh;
    width: 100vw;
  }

  .sketch_1 {
    width: 25vw;
    bottom: 40vh;
    left: 5vw;
    right: auto;
    top: auto;
  }

  .sketch_2 {
    width: 25vw;
    bottom: 40vh;
    left: 30vw;
    right: auto;
    top: auto;
  }

  .sketch_3 {
    width: 25vw;
    bottom: 22vh;
    right: 5vw;
    top: auto;
  }

  .sketch_4 {
    width: 25vw;
    bottom: 22vh;
    right: 30vw;
    top: auto;
  }

  .sketch_5 {
    width: 24vw;
    bottom: 5vh;
    left: 5vw;
    right: auto;
    top: auto;
    transform: rotate(50deg);
  }

  .sketch_6 {
    width: 25vw;
    bottom: 5vh;
    left: 30vw;
    right: auto;
    top: auto;
  }
}
